<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        ul{
            padding-left:0;
        }
        li:first-of-type{
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
<h1>Vice Versa</h1>
<form>
    <ul type="none">
        <li>
            <textarea name="dop_info" cols="40" rows="10"></textarea>
        </li>
        <li>
            <button type="submit">Reverse!</button>
        </li>
    </ul>
    </form>
</body>
</html>